body{
  background-color:#454955;
  color:#F3EFF5;

}
.site-header{
  text-align: center;
  color: #F3EFF5;
  background-color:#3F7D20;
}

.card{
  background-color:#3F7D20;
}

.post_list_item{
  color:#F3EFF5;
}

.post_detail{
  background-color:#3F7D20;
  color:#F3EFF5;
}
.navbar{
  color:#3F7D20;
}
.comment{
  text-align: left;
}
